<%- include("header") -%>

<h2>About page</h2>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum saepe quia tempora debitis exercitationem minus asperiores quisquam porro nihil illum. Molestiae tempore soluta iusto nulla!</p>



<%- include("footer") -%>
